$primary: #e65c4f;
$secondary: #78a6c8;
$info: #326789;
$light: #e9eef4;

@import 'node_modules/bootstrap/scss/bootstrap';
@import url('http://fonts.cdnfonts.com/css/sgt-jhon-o');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SGT Jhon O', sans-serif;
}

body,
html {
  height: 100%;
  background-color: $light;
}

label {
  color: #326789;
}

.input,
.input:focus {
  background-color: transparent !important;
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  border: 1px solid $secondary;
  border-radius: 5px;
}

hr {
  border-top: 0px;
}

th {
  font-size: 15px;
  font-family: 'SGT Jhon O', sans-serif;
  font-weight: normal;
}

td {
  font-size: 14px;
}

tr {
  border-color: $primary;
}

.form-control.is-invalid {
  background-image: none;
  border-color: $primary;
}

.form-control.is-invalid:focus {
  border-color: $info;
  box-shadow: 0 0 0 0.25rem rgba(120, 166, 200, 0.5);
}

.form-control.is-valid {
  background-image: none;
  border-color: $secondary;
}

.form-control.is-valid:focus {
  border-color: $info;
  box-shadow: 0 0 0 0.25rem rgba(120, 166, 200, 0.5);
}

.v-select {
  --vs-controls-color: #78a6c8;
  --vs-border-color: #78a6c8;

  --vs-dropdown-bg: #e9eef4;
  --vs-dropdown-color: #326789;
  --vs-dropdown-option-color: #326789;

  --vs-selected-bg: #e65c4f;
  --vs-selected-color: #326789;

  --vs-search-input-color: #326789;

  --vs-dropdown-option--active-bg: #e65c4f;
  --vs-dropdown-option--active-color: #326789;
}

.modal-header {
  padding-bottom: 0;
}

.modal-body {
  padding-top: 0;
}

.toast:not(.show) {
  display: block;
}
